<section class="border-black/20  border-b ">
  <div class="mx-auto border-black/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-black font-display uppercase lg:text-6xl text-xl">
        We solve problems in the grapple sphere.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-black font-display uppercase lg:text-3xl">
        We take pleasure in solving problems that we see in the grappling scene.
        Whether a lack of transparency with competition costs, or lightweight training equipment,
        we aim to fix what we find.
      </p>
    </div>
  </div>
</section>
