<footer class="border-black/20  border-b bg-slate-100">
  <div class="mx-auto border-black/20  border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-black text-center items-center mx-auto">
        <p class="uppercase font-display text-2xl">GRAPPLE STUFF LTD</p>
        </p>
      </div>
    </div>
    <div class="mx-auto border-black/20  border-t flex flex-col p-8">
    </div>
  </div>
</footer>
