<section
  class="mx-auto border-black/20  border-t 2xl:max-w-7xl bg-slate-100 border-b justify-center lg:fixed lg:z-50 w-full">
  <div class="mx-auto bg-slate-100 justify-center w-full">
    <div
      class="mx-auto border-black/20  border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full">
      <div
        class="text-black text-center items-center w-full flex flex-col justify-between md:px-0 sm:flex-row sm:px-8">
        <a
          class="text-black text-xs font-display inline-flex items-center md:px-8 md:text-center py-4 uppercase"
          ><span>Grapple Stuff &nbsp; &rarr;</span>
        </a>
        <a
          href="mailto:contact@grapplestuff.com"
          class="w-full bg-black duration-200 font-display hover:bg-slate-100 text-white lg:w-auto px-6 py-4 sm:rounded-full text-black hover:text-black text-center text-xs uppercase"
          >Contact</a
        >
      </div>
    </div>
  </div>
</section>
